.ant-list-item:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}


.upload-parent-updated {
  .ant-upload-list-item-name {
    background-color: #ffe58f;
  }
}

.header {
  .ant-select-selection-item {
    color: white;
  }
}

.row {
  .ant-upload-list-text {
    display: flex;
    justify-content: space-between;
  }
}